
/* tag selectors */

body {
	background-image: url(backgroundimage3.jpeg);
	background-size: cover;
	background-repeat: no-repeat;

}


a {
	color: darkgrey;
	text-decoration: none;

}


a:hover {
	background-color: lightgrey;
	transition: all 0.4s ease 0s;
}



nav {
	color: #5d5d5d; 
	cursor: crosshair;
}




li { 
	list-style: none;
	font-size: 20px;
	display: inline-block;
	padding: 10px 10px;

 }



h2 {
	color: lightgrey;
	padding: 30px;
	

}



 /* class selectors */

.description {
	background-color: white;
	padding: 20px;
}


.article-title {
	background-color: white;
	padding: 10px;
}


/* id selectors */


#main-line {
	background-color: white;
	border-style: none;
    height: 4px;
    margin-top: 100px;
}

#author {
	padding: 30px;
	font-size: 70px;
	color: white;
	font-family: 'lato';
	font-weight: 300;
}







